* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fefefe;
}

div.logo {
 font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 30px;
}

header {
  width: 100%;
  height: 80px;
  background: #eb4034;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #fefefe;
  font-size: 20px;
  /* padding: 10px 25px; */
  padding: 10px 8px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: #11101b;
  background: #fefefe;
}

.nav-bar ul li a.active {
  color: #11101b;
  background: #fefefe;
}

.sugar_img {
    margin: 8%;
    width: 33%;
    height: 330px;
}

/* Education Style */
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 2fr 1fr;
  gap: 5px;
  background-color: #f54842;
  padding: 5px;
  margin: 15px;
}
.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.container > div.header {
  grid-area: header;
  text-align: center;
}
.container > div.menu {
  grid-area: menu;
}
.container > div.content {
  grid-area: content;
}
.container > div.footer {
  grid-area: footer;
}

.container_testimoni {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin: 4.5%;
  gap: 30px;
}

.item {
  padding: 15px;
  box-shadow: 7px 7px 8px 8px #6b6a68;
  transition: transform 0.5s;
}

.item:hover {
  transform: translateY(-5px);
}

.item img {
  border-radius: 50%;
  width: 50%;
}

div.footer_end {
  background-color: #f54842;
}

.footer_end {
  background-color: #9fa2a6;
  margin-top: 50px;
  padding: 15px;
}

.footer_end img {
  margin-right: 5px;
  transform: translateY(4px);
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1025px) {
  .container {
    width: 94%;
  }
}

@media only screen and (max-width: 930px) {
  .container {
    display: grid;
    grid-template-areas:
    "header header"
    "menu menu"
    "content content"
    "footer footer";
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #eb4034;
    transition: 0.5s;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 450px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 750px) {
    .sugar_img {
        width: 50%;
        margin: 15%;
    }
  .container_testimoni {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 500px) {
  .container_testimoni {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
  }
}

@media only screen and (max-width: 450px) {
    .sugar_img {
        width: 70%;
        margin-top: 20%;
    }
}