* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.heads {
    margin: 7px 0;
    color: gray;
}

.commentbox {
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
}

.commentbox img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
}

.contents {
    width: 100%;
}

.contents h2 {
    font-size: 16px;
}

.anonymous-input {
    border: none;
    outline: none;
    margin: 5px 0;
    color: #808080;
    padding: 10px;
    width: 80%;
}

.usercomment {
    border: none;
    outline: none;
    padding: 10px;
    padding-left: 0;
    border-bottom: 1px solid rgba(0,0,0,0.8);
    margin-bottom: 10px;
    width: 95%;
    color: #808080;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns button {
    padding: 5px 10px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btns button.able {
    background: blue;
    color: #fff;
}

.notification label {
    font-size: 14px;
    margin-left: 2px;
}

.contents p {
    font-size: 15px;
    margin: 20px 0;
}

.contents p a {
    color: blue;
    text-decoration: none;
}

.parent {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.parent img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    object-position: center;
}

.parent h3 {
    font-size: 14px;
}

.parent p {
    margin: 10px 0;
    font-size: 14px;
}

.engagements {
    display: flex;
    gap: 3px;
    align-items: center;
    margin-bottom: 10px;
}

.engagements img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.parent span {
    font-size: 15px;
    color: gray;
}